#parse("include/java_header.vm")
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder($SRC)};

import java.util.HashMap;
import java.util.Map;

public class JpaEnvironments {

	private final static JpaEnvironments singleInstance = new JpaEnvironments();
	
	private final Map<String,JpaEnvironment> environments ;

	private JpaEnvironments() {
		super();
		this.environments = new HashMap<String,JpaEnvironment>();
	}
	
	public final static JpaEnvironments getInstance() {
		return singleInstance ;
	}
	
	public JpaEnvironment getJpaEnvironment(final String peristenceUnitName ) {
		JpaEnvironment env = environments.get(peristenceUnitName) ;
		if ( env == null ) {
			env = createNewJpaEnvironment( peristenceUnitName );
		}
		return env ;
	}

	private synchronized JpaEnvironment createNewJpaEnvironment(final String peristenceUnitName ) {
		JpaEnvironment env = environments.get(peristenceUnitName) ; // double check 
		if ( env == null ) {
			env = new JpaEnvironment(peristenceUnitName);
			environments.put(peristenceUnitName, env);
		}
		return env ;
	}
}

